.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 36px;
  border-radius: 10px;
}

.tile {
  cursor: pointer;
  transition: background 0.2s ease;
  color: #f9e7e7;
  background: #7a9e9f;
  box-shadow: 2px 2px 4px #4f6367;

  &:not(&-empty):not(&-success):hover {
    transition: background 0.2s ease;
    background: lighten(#7a9e9f, 5%);
  }

  &-success {
    background: #f7567c;
    &:hover {
      transition: background 0.2s ease;
      background: lighten(#f7567c, 5%);
    }
  }

  &-empty {
    cursor: default;
    background: #4f6367 !important;
    color: transparent;
  }
}
